<footer>
  <p> <%= year %> </p>
  <p> Автор проекта: <%= github_url('Lushnikov-N-A', 'TestGuru','author') %></p>
  <p> Проект на GitHub: <%= github_url('Lushnikov-N-A', 'TestGuru','repo') %></p>
  <p> Данный проект создается в рамках обучения по курсу “Профессиональная разработка на Ruby on Rails” в онлайн-школе
    <%= thinknetica %>.
    Проект подразумевает создание системы онлайн тестирования пользователей.</p>
</footer>
