<nav>
  <p><%= link_to "Tests", tests_url, rel: 'nofollow noopener', target: '_blank' %></p>
  <p><%= link_to "Sign In", '/#', rel: 'nofollow noopener', target: '_blank' %></p>
  <p><%= link_to "Sign Up", '/#', rel: 'nofollow noopener', target: '_blank' %></p>
</nav>
